body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #f2f2f2;
}

::selection {
    background: #ef5350; /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ef5350; /* Gecko Browsers */
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:visited {
    color: #ef5350 !important;
}

.header {
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    background-color: #42a5f5;
    padding: 140px 2px 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.header h1 {
    margin: 0;
    font-size: 36pt;
}

.links {
    display: flex;
    flex-flow: row wrap;
    padding: 18px;
    justify-content: center;
    max-width: 1040px;
    margin: auto;
}

.link {
    height: 250px;
    width: 280px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 18px;
    padding: 8px;
    display: flex;
    flex-flow: column nowrap;
    text-decoration: none;
    color: inherit;
    background-color: white;
}

.link:hover {
    background-color: #f2f2f2;
}

.link-image {
    height: 80%;
    background-color: #42a5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-image img {
    max-height: 100px;
    max-width: 80%;
}

.link-title {
    margin: 12px 0 2px;
    font-weight: bold;
}

small {
    display: block;
    text-align: center;
    margin: 18px;
    font-weight: bold;
}